@use '../../../component/style/data-grid.scss';


// .custom-data-grid{
//     .dx-scrollable-container{
        
        
//         &::-webkit-scrollbar {
//             width: 0px;  // 스크롤바 너비 설정
//         }

//         &::-webkit-scrollbar-track {
//             display: none;  // 트랙만 숨기기
//             background: transparent;
//         }
        
//         &::-webkit-scrollbar-thumb {
//             background: rgba(0, 0, 0, 0.2);  // 썸은 보이게 유지
//             border-radius: 3px;  // 썸 모서리 둥글게
//         }
        
//         /* Firefox */
//         scrollbar-width: thin;
//         // scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
//     }
// }


.derive-table{
    height: calc(100% - 40px);

    .dx-scrollable-container{
        overflow-x: auto;
        
        &::-webkit-scrollbar {
            height: 6px;  // 스크롤바 너비 설정
        }

        &::-webkit-scrollbar-track {
            background: #f1f1f1;  // 트랙 배경색 추가
            border-radius: 4px;   // 트랙 모서리 둥글게
        }
        
        &::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, 0.3);  // 썸 색상 약간 진하게
            border-radius: 4px;              // 썸 모서리 둥글게
            
            &:hover {
                background: rgba(0, 0, 0, 0.4);  // 호버 시 더 진한 색상
            }
        }

        scrollbar-width: thin;
        scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
    }

    .dx-datagrid-rowsview .dx-row > td, .dx-datagrid-rowsview .dx-row > tr > td{
        // white-space: normal;
        // word-wrap: break-word;
        text-overflow: visible;
    }
    
    // 셀 내용이 잘리지 않도록 워드랩 적용
    .dx-datagrid-text-content {
        white-space: normal;
        word-wrap: break-word;
    }
}

